@model ProductApp.Models.CProductInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CProductInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productSubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productSubCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productStockQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productStockQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productAvailQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productAvailQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.productId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
